.form-control {
  padding: 0.5rem;
  border-radius: 10px;
  color: black;
  font-size: 0.9rem;
  border: none;
  min-width: 15rem;
}

.form-control:focus {
  outline: none;
}

.col {
  display: flex;
  /* min-width: 22rem; */
  justify-content: space-between;
  align-items: center;
}

.favourites-box {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 430px) {
  .favourites-box {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .col {
    flex-direction: column;
  }
}
